@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
}

.container {
    max-width: 1146px;
    margin: auto;
}

.header {
    padding: 30px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0 22px;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    color: #fff;
    background-color: #256EEB;
    border-radius: 5px;
}

.search-panel {
    display: flex;
    height: 50px;
    padding: 3px;
    background: #256EEB;
    border-radius: 5px;
}

.search-input {
    flex-grow: 1;
    padding: 0 22px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
}

.search-button {
    display: flex;
    align-items: center;
    padding: 15px 17px 15px 20px;
    border: none;
    color: #fff;
    background-color: #256EEB;
}

.search-button_name {
    margin-left: 5px;
}

.page-content {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.page-title {
    margin: 0 0 25px 0;
    font-size: 24px;
    line-height: 28px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 20px;
}

.card-image {
    width: 264px;
    height: 178px;
    border-radius: 10px;
    object-fit: cover;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-link {
    text-decoration: none;
}

.card-title {
    margin: 12px 0 5px;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
}

.card-price {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.card-text {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.like {
    margin-left: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.aside-title {
    margin: 10px 0 28px 0;
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    margin: 7px 0 5px 0;
    font-size: 14px;
    line-height: 16px;
}

.service-description {
    margin: 0;
    max-width: 217px;
}

.footer {
    margin-top: 18px;
}

.footer-menu {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.footer-text {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.footer-text_item {
    display: block;
    text-decoration-line: underline;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
}